@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #FFFFFF;
}

.container
{
    width: 80%;
    margin: auto;
    /* height: 7000px; */
}

.navigation
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.page-logo > h3
{
    font-size: 35px;
    font-weight: 700;
}

.nav-items
{
    display: flex;
    align-items: center;
}

.nav-items > li 
{
    list-style-type: none;
    margin-left: 60px;
}

.nav-items > li > a
{
    text-decoration: none;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
}

.nav-items > li > i 
{
    font-size: 20px;
}


/* Cover Area Started */

.cover-details
{
    display: flex;
    justify-content: space-between;
    margin-top: 146px;
}


.cover-text > h1
{
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    margin-top: 90px;
}

.cover-text > p
{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.preBook
{
    width: 220px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    color: #f2f2f2;
    margin-top: 25px;
}

#icon-resize
{
    margin-left: 10px;
}

.cover-img > img
{
    position: relative;
    width: 550px;
    margin-right: 40px;
    margin-top: -28px;
    z-index: 1;
}

.cover-img::before
{
    content: '';
    position: absolute;
    top: 230px;
    left: 1120px;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    border: 3px solid #F1E4FF;
}

.cover-img::after
{
    content: '';
    position: absolute;
    top: 322px;
    left: 1200px;
    width: 410px;
    height: 410px;
    border-radius: 100%;
    background: #F1E4FF;
}


.many-logo 
{
        border: 10px solid;
        border-image-slice: 1;
        border-width: 2px;
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
    margin-top: 130px;
    padding: 35px;
}

.border-gradient-purple {
    border-image-source: linear-gradient(to left,white 0, #dde4eb 66.6%, white );
}

img.one-3 
{
    margin-bottom: -13px;
}

img.one-4 
{
    width: 85%;
    margin-bottom: -9px;
}

img.one-5 
{
    width: 90%;
    margin-bottom: -10px;
}

img.one-6 
{
    margin-bottom: -10px;
}

img.one-7 
{
    margin-bottom: -9px;
}


.product 
{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product-details 
{
    margin-left: -90px;
}

h1.product-title 
{
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 16px;
}

h3.product-price 
{
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 6px;
}

.product-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start-rating > i {
    font-size: 11px;
    color: #FB8200;
}

.number-rating > h5 {
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
    font-weight: 700;
    margin-top: 5px;
    color: #5E6366;
}

.product-info > h3 {
    font-size: 15px;
    font-weight: 700;
    color: #787885;
    line-height: 143%;    
}

.product-info > h4 {
    font-size: 15px;
    font-weight: 700;
    color: #787885;
    line-height: 143%;
}

.product-info > h5 {
    font-size: 15px;
    font-weight: 700;
    color: #787885;
    line-height: 143%;    
}

h2.popular-title {
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 50px;
}

.products {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

p.see-more-btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #E02C6D;
    margin-left: 80%;
    margin-top: 25px;
    margin-bottom: 100px;
}


section.feature-product {
    width: 75%;
    margin: auto;
    display: flex;
}

.feature-details {
    margin-left: 96px;
}

.feature-details > h1 {
    font-size: 38px;
    line-height: 60px;
    font-weight: 700;
    color: #0A0826;
}

.feature-details > p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #6C6C6C;
}

button.join-now {
    margin-top: 40px;
    width: 155px;
    height: 44px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: #E02C6D;
    color: white;
}

footer.footer-area {
    width: 100%;
    height: 300px;
    background: #0A0826;
    margin-top: 100px;
}

footer.footer-area > h1 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 70px;
}

footer.footer-area > p {
    text-align: center;
    color: #D9DBE1;
    font-size: 17px;
    line-height: 24px;
    padding-top: 25px;
}

.circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #22203A;
    margin-left: 20px;
}

.footer-icon 
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.circle-icon > i 
{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: white;
}